body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Add a light gray background color */
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Set text color to dark gray */
  }
  
  form {
    width: 400px;
    margin: 0 auto;
    background-color: #fff; /* Add a white background color */
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .container {
    padding: 16px;
  }
  
  .imgcontainer {
    text-align: center; /* Center the image container */
  }
  
  label {
    display: block;
    margin-bottom: 10px; /* Add space between labels and inputs */
  }
  
  input[type=text], input[type=password], button {
    width: 100%; /* Set width to 100% for full-width inputs */
    padding: 8px 10px; /* Reduce the padding to 8px vertically and 10px horizontally */
    margin-bottom: 15px; /* Add space between input fields */
    display: block; /* Display inputs as block elements for vertical arrangement */
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  