body{
margin: 0px;

}
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
margin-left: 500px;

  }
  a{
text-decoration: none;

  }
  
  .logo .car{

height: auto;
width: 50px;
left: 0px;
  }
  header{
background-color: rgb(3, 3, 3);
height: 120px;




  }
  header li a{
    font-weight:900;
    color: rgb(255, 255, 255);

  }

  
  .cars p {
    margin: 5px 0;
  }
  
     
  .car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .cars {
    width: 23%; 
    margin-bottom: 20px;
    border: 1px solid #0f0f0f;
    background-color: #fff;
    text-align: center;
    padding: 15px;
  }
  .cars img {
    width: 100%;
    height: auto;
  }

  .rent{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(rgb(153, 153, 153),rgb(44, 41, 41));
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bolder;
    color: black;
  
  
  
      }
      .right-options {
        display: flex; /* Display as flexbox for closer positioning */
    
        background-color: #db0505; /* Add a light gray background color */
        padding: 5px; /* Add padding for better visual separation */
      }
      
      .right-options a {
        margin-right: 10px; /* Add spacing between "Sign In" and "Sign Up" */
        color: #000000; /* Set text color to dark gray */
      }
      
     