*{
margin: 0;
padding: 0;
text-decoration: none;

}
body{

  font-family: helvetica;
}
header{
  background-color: rgb(3, 3, 3);
  height: 120px;
  
  
  
  
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
  margin-left: 500px;
  
    }

  .logo .car{

height: auto;
width: 50px;
left: 0px;

  }
 
  header li a{
    font-weight:900;
    color: rgb(255, 255, 255);
text-transform: uppercase;
  }

  
  .cars p {
    margin: 5px 0;
  }
  
     
  .car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .cars {
    width: 23%; 
    margin-bottom: 20px;
    border: 1px solid #0f0f0f;
    background-color: #fff;
    text-align: center;
    padding: 15px;
  }
  .cars img {
    width: 100%;
    height: auto;
  }

  .rent{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(rgb(153, 153, 153),rgb(44, 41, 41));
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bolder;
    color: black;
  
  
  
      }
     
      
      .in {
       margin-left: 200px;
    
        
      }
      .up{
            margin-right: 200px;

      }
      .in a:hover {
        color: #007bff;
       
      }
      
      .up a:hover {
        color: #007bff;
        
      }
      
      

/* Footer styles */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 30px 0;
  color: #fffdfd;
}

.footer .service,
.footer .address,
.footer .social {
  margin-right: 200px;
}

.footer h2 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.footer ul li {
  margin-right: 15px;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
}

.footer .address span {
  display: inline-block;
  margin-right: 10px;
}

.footer .address p {
  color: #fff;
  margin: 0;
}

.copyright {
  text-align: center;
  color: #fff;
  padding: 20px 0;
  background-color: #222;
}
.footer .address p a {
  color: #fff; /* Set phone number and email color to white */
}
